*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block{
    width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
}

.inpt input , select{
    width: 350px;
    height: 30px;
    margin: 10px 0;
}

.row{
    display: flex;
    align-items: center; 
}
.row label{
    margin-right: 15px;
}

.inputs div{
    margin: 10px 0;
}

.submit{
    display: flex;
    justify-content: center;
}

.submit button{
    width: 150px;
    height: 30px;
    border-radius: 7px;
    background-color: rgb(255, 140, 0);
    color: white;
    border: 0px;
}

.submit button:hover{
    cursor: pointer;
}

.submit button:active{
    background-color: rgb(255, 150, 0);
}